* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8A9597;
    font-family: Verdana, sans-serif;
    font-size: 18px;
}

header, aside {
    background-color: #b92b2b;
}

aside {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    margin-left: 3em;
    margin-top: 1em;
}

table, p{
    color: white;
}

button, input {
    background-color: white;
    margin-left: 2em;
    margin-top: 1em;
}

ul {
    list-style-type: none;
}

.graella {
    background-color: darkred;
}

.pujar {
    display:none;
    padding:20px;
    background:darkred;
    font-size:20px;
    color:#fff;
    cursor:pointer;
    position: fixed;
    bottom:20px;
    right:20px;
}

img {
    height: 400px;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 2em;
}

a {
    color: white;
}

h3, p, a{
    margin-left: 2em;
}

button a {
    margin: 1em;
    color: black;
}

/* Formularis */

input {
    border-radius: 7px;
}

input[type=text]:focus {
    background-color: lightgray;
    border-radius: 7px;
}

label {
    color: white;
    margin-left: 2em;
}

select {
    width: 25%;
    border-radius: 7px;
    background-color: lightgray;
}

.checkbox, .radio, .textarea{
    margin: 2em;
}